#aa-service {
    display: inline;
    float: left;
    width: 100%;
    padding: 100px 0;
  }
  #aa-service .aa-service-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-service .aa-service-area .aa-service-content {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 40px;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service:hover .aa-service-icon:before {
    border: 2px solid #fff;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon:before {
    border: 2px solid transparent;
    border-radius: 50%;
    content: "";
    height: 100px;
    margin-left: 4px;
    position: absolute;
    width: 92px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon span {
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 100px;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content h4 {
    font-size: 20px;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content h4 a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content p {
    font-size: 13px;
  }