body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F0ECE3;
}

.btn-light-custom{
  cursor: pointer;
  color: #596E79;
  background-color: transparent;
  border: 1px solid #596E79;
  border-radius: 5px;
  padding: 7px 20px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}
.btn-light-custom:hover {
  background-color: #596E79;
  color: #F0ECE3;
  transform: scale(1.13);
}

.btn-custom{
  background-color: #596E79;
  border: 1.3px solid #596E79;
  color: #F0ECE3;
  font-weight: 600;
}
.btn-custom:hover{
  background-color: #F0ECE3;
  color: #596E79;
  transform: scale(1.03);
  border: 1.3px solid #596E79;
}